@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i");
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,700i');
@import url("https://fonts.googleapis.com/css?family=Cookie");
body {
  font-family: "Josefin Sans", sans-serif;
  padding: 0;
  margin: 0;
}
.feedback-button {
    text-align: center;
    margin-top: 20px;
}
div#video-sec .owl-nav i {
    font-size: 38px;
}
a {
  color: #000000;
  text-decoration: none;
  -webkit-transition: .4s;
  transition: .4s;
  display: inline-block;
  outline: 0;
}

a:hover, a:focus {
  text-decoration: none;
  color: #f10909;
}

img {
  max-width: 100%;
}

.d-table {
  width: 100%;
  height: 100%;
}

.d-table-cell {
  vertical-align: middle;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

p {
  font-size: 16px;
  color: #6b6b6b;
}

/* btn */
.btn {
  font-weight: 600;
  font-size: 15px;
  border-width: 2px;
  line-height: unset;
  padding: 12px 35px 8px;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-primary {
  color: #ffffff;
  background-color: #f10909;
  border-color: #f10909;
  position: relative;
  z-index: 1;
  -webkit-transition: .6s;
  transition: .6s;
}

.btn-primary::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  background: #f10909;
  z-index: -1;
  -webkit-transition: .4s;
  transition: .4s;
}

.btn-primary::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50%;
  background: #f10909;
  z-index: -1;
  -webkit-transition: .4s;
  transition: .4s;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #ffffff;
  background-color: #f10909;
  border-color: #f10909;
  opacity: 1;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #f10909;
  background-color: transparent;
  border-color: #f10909;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.btn-primary.focus, .btn-primary:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
}

.btn-primary:hover, .btn-primary:focus {
  color: #f10909;
  background-color: transparent;
  border-color: #f10909;
}

.btn-primary:hover::before, .btn-primary:focus::before {
  height: 0;
}

.btn-primary:hover::after, .btn-primary:focus::after {
  height: 0;
}

/* Owl btn */
.owl-theme .owl-controls {
  line-height: .1;
}

.owl-theme .owl-controls .owl-dots {
  margin-top: 50px;
}

.owl-theme .owl-controls .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  margin: 0 4px;
  background: #dddddd;
  -webkit-transition: .4s;
  transition: .4s;
}

.owl-theme .owl-controls .owl-dots .owl-dot.active span, .owl-theme .owl-controls .owl-dots .owl-dot:hover span, .owl-theme .owl-controls .owl-dots .owl-dot:focus span {
  background: #f10909;
}

.owl-theme .owl-controls .owl-nav {
  margin-top: 0;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  position: absolute;
  font-size: 25px;
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  top: 50%;
  left: 40px;
  width: 50px;
  height: 50px;
  line-height: 56px;
  -webkit-transition: .4s;
  transition: .4s;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover {
  background: #f10909;
}

.owl-theme .owl-controls .owl-nav .owl-next {
  left: auto;
  right: 40px;
}

/* Section Title */
.section-title {
  text-align: center;
  margin-top: -13px;
  margin-bottom: 55px;
}

.section-title span {
  font-family: "Cookie", cursive;
  display: block;
  font-size: 30px;
  color: #f10909;
}

.section-title h2 {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}

/* form control */
.form-control {
  height: 45px;
  padding: 10px 10px 2px;
  font-size: 15px;
  color: #777777;
  border: 1px solid #eeeeee;
  border-radius: 5px;
}

.form-control::-webkit-input-placeholder {
  color: #777777;
}

.form-control:-ms-input-placeholder {
  color: #777777;
}

.form-control::-ms-input-placeholder {
  color: #777777;
}

.form-control::placeholder {
  color: #777777;
}

.form-control:focus {
  -webkit-box-shadow: unset;
          box-shadow: unset;
  border-color: #f10909;
}

:focus {
  outline: 0 !important;
}

/*================================================
Header Area CSS
=================================================*/
.top-area {
  width: 100%;
  z-index: 999;
}

.top-area .top-bar {
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-area .top-bar .call-to-action p {
  margin: 0 13px 0 0;
  display: inline-block;
  color: #ffffff;
  font-size: 15px;
}

.top-area .top-bar .call-to-action p i {
  margin-right: 3px;
  font-size: 16px;
}

.top-area .top-bar .call-to-action p a {
  color: #ffffff;
}

.top-area .top-bar .call-to-action p a:hover, .top-area .top-bar .call-to-action p a:focus {
  color: #f10909;
}

.top-area .top-bar .top-social {
  float: right;
  padding: 0;
  margin: 0 0 0 10px;
  list-style-type: none;
}

.top-area .top-bar .top-social li {
  display: inline-block;
}

.top-area .top-bar .top-social li a {
  color: #ffffff;
  font-size: 15px;
  margin-left: 5px;
}

.top-area .top-bar .top-social li a:hover, .top-area .top-bar .top-social li a:focus {
  color: #f10909;
}

.top-area .top-bar .opening-hours {
  float: right;
}

.top-area .top-bar .opening-hours p {
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 0;
}

.top-area .top-bar .opening-hours p i {
  margin-right: 3px;
  font-size: 16px;
}

.top-area .top-bar.template-color-bg {
  background: #f10909;
  border-bottom: none;
}

.top-area .top-bar.template-color-bg .call-to-action p a {
  color: #ffffff;
}

.top-area .top-bar.template-color-bg .top-social li a {
  color: #ffffff;
}

.bg-light {
  background-color: transparent !important;
}

.transparent-navbar.navbar-expand-lg .navbar-brand.black-logo {
  display: none;
}

.transparent-navbar.navbar-expand-lg .navbar-brand img {
  height: 65px;
}

.transparent-navbar.navbar-expand-lg .navbar-nav .nav-item {
  padding-right: 15px;
  padding-left: 15px;
}

.transparent-navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.transparent-navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link.active, .transparent-navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link.show, .transparent-navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link:hover, .transparent-navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link:focus {
  color: #f10909;
}

.transparent-navbar.navbar-expand-lg .navbar-nav .nav-item:last-child {
  padding-right: 0;
}

.transparent-navbar.is-sticky .navbar-brand {
  display: none;
}

.transparent-navbar.is-sticky .navbar-brand.black-logo {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}

.transparent-navbar.is-sticky .navbar-nav .nav-item {
  margin-top: 3px;
}

.transparent-navbar.is-sticky .navbar-nav .nav-item .nav-link {
  color: #000000;
}

.transparent-navbar.is-sticky .navbar-nav .nav-item .nav-link.active, .transparent-navbar.is-sticky .navbar-nav .nav-item .nav-link.show, .transparent-navbar.is-sticky .navbar-nav .nav-item .nav-link:hover, .transparent-navbar.is-sticky .navbar-nav .nav-item .nav-link:focus {
  color: #f10909;
}

.white-bg-navbar.navbar-expand-lg {
  background: #ffffff !important;
}

.white-bg-navbar.navbar-expand-lg .navbar-brand {
  display: none;
}

.white-bg-navbar.navbar-expand-lg .navbar-brand.black-logo {
  display: block;
}

.white-bg-navbar.navbar-expand-lg .navbar-brand img {
  height: 65px;
}

.white-bg-navbar.navbar-expand-lg .navbar-nav .nav-item {
  padding-right: 15px;
  padding-left: 15px;
}

.white-bg-navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.white-bg-navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link.active, .white-bg-navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link.show, .white-bg-navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link:hover, .white-bg-navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link:focus {
  color: #f10909;
}

.white-bg-navbar.navbar-expand-lg .navbar-nav .nav-item:last-child {
  padding-right: 0;
}

.middle-logo-navbar.navbar-expand-lg .navbar-brand {
  display: none;
}

.middle-logo-navbar.navbar-expand-lg .navbar-nav {
  margin-left: auto;
  margin-right: auto;
}
.middle-logo-navbar.navbar-expand-lg .navbar-nav .nav-item {
    padding-right: 35px;
    padding-left: 30px;
    padding-top: 6px;
}
.middle-logo-navbar.navbar-expand-lg .navbar-nav .nav-item.logo .black-logo {
  display: none;
}
.middle-logo-navbar.navbar-expand-lg .navbar-nav .nav-item.logo img {
    border-radius: 10px;
    height: 108px;
    background: #fff;
    position: absolute;
    z-index: 999;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    padding: 9px;
    right: 0;
    top: 0;
}

.middle-logo-navbar.navbar-expand-lg .navbar-nav .nav-item:first-child {
  padding-left: 0;
}

.middle-logo-navbar.white-bg-navbar.navbar-expand-lg .navbar-brand.black-logo {
  display: none;
}
.middle-logo-navbar.white-bg-navbar.navbar-expand-lg .navbar-nav .nav-item.logo {
    padding-top: 0;
    padding-right: 90px;
    padding-left: 90px;
}
a {
	cursor: pointer !important;
}
.middle-logo-navbar.white-bg-navbar.navbar-expand-lg .navbar-nav .nav-item.logo img {
  display: none;
}

.middle-logo-navbar.white-bg-navbar.navbar-expand-lg .navbar-nav .nav-item.logo .black-logo {
  display: block;
}

.middle-logo-navbar.is-sticky .navbar-brand {
  display: none;
}

.middle-logo-navbar.is-sticky .navbar-brand.black-logo {
  display: none;
}

.middle-logo-navbar.is-sticky .navbar-nav .nav-item.logo img {
  display: none;
}

.middle-logo-navbar.is-sticky .navbar-nav .nav-item.logo .black-logo {
  display: block;
}

.navbar.navbar-light.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding: 16px 0;
    background-color: #ffffff !important;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}
.navbar.navbar-light.is-sticky img.black-logo {
    height: 94px !important;
}
/*================================================
Main Banner Area CSS
=================================================*/
.main-banner {
  height: 750px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  position: relative;
}

.main-banner::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .7;
  z-index: -1;
}

.main-banner::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-image: url(../img/dots.png);
  background-repeat: repeat;
  z-index: -1;
}

.main-banner .bottom-bg {
  opacity: 1;
}

.main-banner #canvas {
  opacity: 1;
}

.main-banner.ripple-effect::before {
  z-index: 1;
}

.main-banner.ripple-effect .main-banner-content {
  position: relative;
  z-index: 2;
}

.item-bg-one {
  background-image: url(../img/main-banner-1.jpg);
}

.item-bg-two {
  background-image: url(../img/main-banner-2.jpg);
}

.item-bg-three {
  background-image: url(../img/main-banner-3.jpg);
}

.main-banner-content {
  margin-top: 50px;
  text-align: center;
}

.main-banner-content h1 {
  font-family: "Cookie", cursive;
  color: #ffffff;
  margin: 0 0 20px 0;
  font-size: 110px;
  font-weight: 700;
}

.main-banner-content h3 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 2px;
  margin: 0 0 40px 0;
}

.main-banner-content h3 .typewrite {
  color: #ffffff;
}

.down_arrow .scroll_down {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: 50px;
  width: 30px;
  z-index: 5;
  bottom: 30px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 20px;
  cursor: pointer;
  -webkit-animation: movebounce 3s linear infinite;
          animation: movebounce 3s linear infinite;
  outline: none;
}

.down_arrow .scroll_down::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #ffffff;
  border-radius: 100%;
  -webkit-animation: scroll_down_btn-animation 2s infinite;
          animation: scroll_down_btn-animation 2s infinite;
}

@keyframes scroll_down_btn-animation {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes scroll_down_btn-animation {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.wave_box {
  height: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave_box .wave {
  background: url(../img/wave.png) repeat-x;
  position: absolute;
  bottom: 0;
  width: 6400px;
  left: 0;
  height: 100px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.wave_box .wave:nth-of-type(2) {
  bottom: -30px;
  -webkit-animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
          animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@-webkit-keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@-webkit-keyframes swell {
  0%, 100% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
}

@keyframes swell {
  0%, 100% {
    -webkit-transform: translate3d(0, -25px, 0);
            transform: translate3d(0, -25px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }
}

/*================================================
Stunning Things Area CSS
=================================================*/
.stunning-things {
  padding-bottom: 70px;
  overflow: hidden;
  position: relative;
  background-image: url(../img/bg.png);
  background-attachment: fixed;
  background-repeat: repeat;
}

.single-box {
  background-color: #ffffff;
  text-align: center;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  -webkit-transition: .4s;
  transition: .4s;
}

.single-box::before {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  border-radius: 0 0 5px 5px;
  left: 0;
  background: #f10909;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

.single-box .icon {
  font-size: 45px;
  color: #999999;
  margin-top: -9px;
  -webkit-transition: .4s;
  transition: .4s;
}

.single-box h3 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 15px;
}

.single-box p {
  margin-bottom: 0;
}

.single-box:hover {
  -webkit-box-shadow: 7px 5px 30px rgba(72, 73, 121, 0.15);
          box-shadow: 7px 5px 30px rgba(72, 73, 121, 0.15);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.single-box:hover::before {
  width: 100%;
}

.single-box:hover .icon {
  color: #f10909;
}

/*================================================
Restaurant Menu Area CSS
=================================================*/
.menu-area {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.menu-area::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(135deg, #212529, #212529 5px, rgba(0, 0, 0, 0) 5px, rgba(0, 0, 0, 0) 10px);
  z-index: -1;
  opacity: 0.009;
}

.tab {
  overflow: hidden;
}

.tab ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.tab .tabs {
  text-align: center;
  margin-bottom: 40px;
}

.tab .tabs li {
  display: inline-block;
  margin: 0 30px;
}

.tab .tabs li a {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  display: inline-block;
}

.tab .tabs li a i {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #edf5ff;
  text-align: center;
  font-size: 30px;
  border-radius: 50%;
  margin-bottom: 15px;
  -webkit-transition: .4s;
  transition: .4s;
}

.tab .tabs li a:hover, .tab .tabs li a:focus {
  color: #f10909;
}

.tab .tabs li a:hover i, .tab .tabs li a:focus i {
  color: #ffffff;
  background-color: #f10909;
}

.tab .tabs li.current a {
  color: #f10909;
}

.tab .tabs li.current a i {
  color: #ffffff;
  background-color: #f10909;
}

.tab .tabs_item {
  display: none;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
  z-index: 1;
}

.tab .tabs_item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f10909;
  opacity: .8;
  z-index: -1;
}

.tab .tabs_item:first-child {
  display: block;
}

.tab .tabs_item .single-menu {
  position: relative;
  margin-bottom: 30px;
  padding-left: 110px;
}

.tab .tabs_item .single-menu .food-menu-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 90px;
  height: 90px;
}

.tab .tabs_item .single-menu .food-menu-img img {
  border-radius: 50%;
}

.tab .tabs_item .single-menu .food-menu-content h3 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 9px;
  overflow: hidden;
}

.tab .tabs_item .single-menu .food-menu-content h3 .menu-price {
  float: right;
  font-weight: 400;
  font-size: 20px;
}

.tab .tabs_item .single-menu .food-menu-content ul {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.tab .tabs_item .single-menu .food-menu-content ul li {
  color: #eeeeee;
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 6px;
  font-weight: 600;
}

.tab .tab-item-bg-one {
  background-image: url(../img/offer-img1.jpg);
}

.tab .tab-item-bg-two {
  background-image: url(../img/offer-img2.jpg);
}

.tab .tab-item-bg-three {
  background-image: url(../img/offer-img3.jpg);
}

.tab .tab-item-bg-four {
  background-image: url(../img/offer-img4.jpg);
}

.tab .tab-item-bg-five {
  background-image: url(../img/offer-img1.jpg);
}

.tab .tab-item-bg-six {
  background-image: url(../img/offer-img2.jpg);
}

.menu-area-two {
  padding-bottom: 60px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.menu-area-two::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(135deg, #212529, #212529 5px, rgba(0, 0, 0, 0) 5px, rgba(0, 0, 0, 0) 10px);
  z-index: -1;
  opacity: 0.009;
}

.menu-area-two .shape2 {
  top: 10%;
}

.single-restaurant-menu {
  margin-bottom: 40px;
  position: relative;
  padding-left: 110px;
}

.single-restaurant-menu .menu-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 85px;
  height: 85px;
}

.single-restaurant-menu .menu-image img {
  border-radius: 50%;
}

.single-restaurant-menu .menu-content h3 {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 9px;
  overflow: hidden;
}

.single-restaurant-menu .menu-content h3 .price {
  float: right;
  font-size: 20px;
  font-weight: 400;
  color: #f10909;
}

.single-restaurant-menu .menu-content ul {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
  list-style-type: none;
  margin-right: -15px;
  margin-left: -15px;
}

.single-restaurant-menu .menu-content ul li {
  color: #777777;
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 6px;
  font-weight: 600;
}

.laureel-food-menu {
  margin-bottom: 40px;
}

.laureel-food-menu h3 {
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 700;
  border-bottom: 3px solid #eeeeee;
  padding-bottom: 5px;
  display: inline-block;
}

.laureel-food-menu .single-box-menu {
  position: relative;
  margin-bottom: 20px;
  background: #ffffff;
  padding-left: 135px;
  padding-bottom: 30px;
  padding-right: 30px;
  padding-top: 30px;
  -webkit-box-shadow: 2px 2px 10px rgba(72, 73, 121, 0.15);
          box-shadow: 2px 2px 10px rgba(72, 73, 121, 0.15);
}

.laureel-food-menu .single-box-menu .food-image {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 85px;
  height: 85px;
}

.laureel-food-menu .single-box-menu .food-image img {
  border-radius: 50%;
}

.laureel-food-menu .single-box-menu .menu-content h4 {
  font-size: 22px;
  font-weight: 700;
  margin: 0 0 9px;
  overflow: hidden;
}

.laureel-food-menu .single-box-menu .menu-content h4 .price {
  float: right;
  font-size: 20px;
  font-weight: 400;
  color: #f10909;
}

.laureel-food-menu .single-box-menu .menu-content p {
  margin-bottom: 0;
}

.menu-item {
  margin-bottom: 40px;
}

.menu-item .menu-image {
  position: relative;
}

.menu-item .menu-image .price {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #f10909;
  color: #ffffff;
  padding: 6px 10px 4px;
  border-radius: 5px 0 0 0;
}

.menu-item .menu-content {
  margin-top: 20px;
}

.menu-item .menu-content h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 9px;
}

.menu-item .menu-content p {
  margin-bottom: 0;
}

.bottom-bg {
  background-image: url(../img/rightside-bg.png);
  background-position: center center;
  background-size: contain;
  background-repeat: repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  opacity: .2;
}

.shape1 {
  position: absolute;
  top: 50px;
  left: 50px;
  width: 100px;
}

.shape2 {
  position: absolute;
  top: 20%;
  right: 50px;
  width: 100px;
}

.shape3 {
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 100px;
}

/*================================================
Reservation Area CSS
=================================================*/
.reservation-area {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../img/bg/tandoori.jpg");
  z-index: 1;
  text-align: center;
  position: relative;
}

.reservation-area::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .7;
  z-index: -1;
}

.reservation-area::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-image: url(../img/dots.png);
  background-repeat: repeat;
  z-index: -1;
}

.reservation-area h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
  margin-top: -5px;
  margin-bottom: 25px;
}
.ptb-60 {
    padding: 60px 0px;
}
.line-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: auto;
    z-index: 2;
}

/*================================================
Restaurant CTA Area CSS
=================================================*/
.restaurant-cta {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../img/cta-bg.jpg);
  z-index: 1;
  text-align: center;
  position: relative;
}

.restaurant-cta::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .7;
  z-index: -1;
}

.restaurant-cta::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-image: url(../img/dots.png);
  background-repeat: repeat;
  z-index: -1;
}

.restaurant-cta h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
  text-transform: capitalize;
  margin-top: -5px;
  margin-bottom: 25px;
}

.restaurant-cta span {
  color: #f10909;
  display: block;
  font-size: 30px;
  font-family: "Cookie", cursive;
  margin-bottom: 15px;
  margin-top: -15px;
}

/*================================================
Page Title CSS
=================================================*/
.page-title {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/main-banner-1.jpg);
  z-index: 1;
  position: relative;
  padding-top: 210px;
  padding-bottom: 100px;
  text-align: center;
}

.page-title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .7;
  z-index: -1;
}

.page-title::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-image: url(../img/dots.png);
  background-repeat: repeat;
  z-index: -1;
}

.page-title h3 {
  color: #ffffff;
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
  font-size: 35px;
}
.overlay::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .5;
    z-index: 1;
}
.overlay {
    position: relative;
}
/*================================================
Go Top Area CSS
=================================================*/
.go-top {
  position: fixed;
  cursor: pointer;
  bottom: 35px;
  right: 15px;
  font-size: 25px;
  color: #ffffff;
  background-color: #000000;
  z-index: 4;
  display: none;
  width: 55px;
  text-align: center;
  height: 55px;
  line-height: 60px;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

.go-top:hover {
  color: #ffffff;
  background: #f10909;
}
/*# sourceMappingURL=style.css.map */

.img-about{
    border-color: rgba(0,0,0,0.1) !important;
    border-width: 8px !important;
    border: 1px solid #dee2e6!important;
}
.about-pad-section {
	padding: 90px 0;
	position: relative;
}
.title-font {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    line-height: normal;
    color: #f00909;
}
.section-heading h4 {
	    font-weight: 800;
    position: relative;
    line-height: 140%;
	font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}
.menu-item .menu-image img {
    height: 185px;
    width: 100%;
}
.readmore-btn {
	    display: inline-block;
    font-size: 14px;
    padding: 9px 22px;
    background: transparent;
    border: 2px solid #f10909;
    border-radius: 25px;
    box-shadow: rgba(0,0,0,0.1) 0px 2px 1px !important;
    color: #f10909;
    letter-spacing: .5px;
    line-height: inherit;
    min-width: 150px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
.gallery-area {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../img/bg/kabab.jpg);
    z-index: 1;
    text-align: center;
    position: relative;
}
.gallery-area::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .7;
    z-index: -1;
}
.filter-button {
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    padding: 7px 12px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 25px;
    box-shadow: rgba(0,0,0,0.1) 0px 2px 1px !important;
    color: #ffffff;
    letter-spacing: .5px;
    line-height: inherit;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.filter-button.active {
    background: #fff;
    color: #333;
}

.carousel-wrap {
  width: 100%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}
.single-feedback {
    text-align: center;
    position: relative;
}
.bg2 {
    background-color: #f2f2f2;
}
footer ul li i {
    padding-right: 5px;
}
.social-footer ul li {
    padding-right: 10px;
    display: inline-block;
}
footer ul {
    padding: 0;
    list-style: none;
}
.visitors-counts {
    display: inline-block;
    background: #333333;
    color: #fff;
    width: 60%;
    font-weight: 600;
    height: 22px;
    line-height: 23px;
    border-radius: 3px;
    font-size: 15px;
    text-align: center;
}
footer ul li {
    padding-bottom: 10px;
}
.ptb50 {
    padding-bottom: 50px;
    padding-top: 50px;
}
.wrap-pic-max-h {
    margin-bottom: 20px;
}
.footer-copy {
    padding: 10px;
    text-align: center;
    background: #f10909;
    color: #fff;
}
.footer-copy a, .footer-copy a:hover, .footer-copy a:focus   {
    color: #fff;
	font-weight: 400;
}
.img-footer {
    max-width: 100%;
    height: 88px;
    margin: 0 auto;
}
.m2-txt2 {
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    color: #333;
    font-weight: 600;
    line-height: 1.2;
}
.floating-left .img-gif {
    max-width: 100%;
    height: 195px;
}
.floating-left {
	z-index: 999;
    position: fixed;
    bottom: 5px;
    left: 0;
}
.gallery_product {
    margin-bottom: 20px;
}

/** Inner pages **/
.lgx-banner-inner {
    background: url('../img/bg/breadcumbs.jpg') bottom center no-repeat fixed;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.lgx-heading .heading-title {
    font-family: 'Playfair Display',serif;
    font-size: 38px;
    font-weight: 900;
    margin: 0;
    color: #fff;
}
.lgx-banner-inner .breadcrumb {
    background: 0 0;
    display: inline-block;
    padding: 0;
    position: relative;
    z-index: 1;
    margin-top: 1rem;
    margin-bottom: 0;
    border-radius: 0;
}
.lgx-banner-inner .breadcrumb li {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.lgx-banner-inner .breadcrumb li a i {
    margin-right: .5rem;
    color: #f10909;
}
.lgx-banner-inner .breadcrumb .active {
    color: #f10909;
}
.lgx-banner-inner .breadcrumb>li+li:before {
    padding: 0 5px;
    color: #f10909;
    content: "/\00a0";
    opacity: .7;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.breadcrumb>li {
    display: inline-block;
}
.lgx-banner-inner .breadcrumb li a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}
.lgx-page-inner {
    padding: 80px 0;
}
.category-menus a {
    color: #f10909;
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid #f10909;
    padding: 5px 15px;
}
.category-menus .filter-button {
	border:1px solid #f10909;
	color: #f10909;
}
.category-menus .filter-button.active, .category-menus .filter-button:hover, .category-menus .filter-button:focus {
	background:#f10909;
	color: #fff;
}
.enquiry-box {
    height: 350px;
}
iframe {
    border: none;
    width: 100%;
}
.box-location {
    background-color: #f9f9f9 !important;
    padding: 12px;
    border: 1px solid #f10909;
    box-shadow: 2px 1px 4px 0px #f1090947;
    margin-bottom: 20px;
}
.pt-40 {
    padding-top: 40px;
}
.contact-box p {
    margin-bottom: 0;
    margin-top: 7px;
    position: relative;
    color: #777791;
}
.contact-box p i {
    color: #f10909;
}
.box-height {
    height: 140px;
    overflow: auto;
}
.contact-box p.opening-hours span {
    float: right;
    margin-right: 25px;
}
.contact-box p.opening-hours {
    overflow: hidden;
    padding: 0;
    text-align: left;
}
.category-menus a.active, .category-menus a:hover, .category-menus a:focus {
    color: #fff;
    font-size: 16px;
    display: inline-block;
    text-transform: uppercase;
    background: #f10909;
    padding: 5px 15px;
}
.category-menus {
    margin-bottom: 20px;
    text-align: center;
}